@font-face {
  font-family: "syne";
  src: url("./fonts/syne-font-family/Syne-Regular-BF642e31d3934f5.otf");
}

@font-face {
  font-family: "roboto_thin";
  src: url("./fonts/roboto-mono/RobotoMono-Regular.ttf");
}
@mixin svg-setting {
  width: 4rem;
  aspect-ratio: 1/1;
}
@mixin line-all {
  background-color: black;
  width: 100%;
  height: 1px;
}
@mixin display-none {
  display: none;
}
@mixin line-horizontal {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  background-color: black;
}

// for white template
$family-syne: "syne";
$family-roboto-thin: "roboto_thin";
$font-small: clamp(0.7rem, 2vw, 1rem);
$font-normal-small: clamp(0.9rem, 2vw, 0.9rem);
$font-normal: clamp(1.1rem, 2vw, 1.3rem);
$font-extra-normal: clamp(1.7rem, 2vw, 1.9rem);
$font-large: clamp(2.2rem, 2vw, 2.5rem);
$font-larger: clamp(2.8rem, 2vw, 3rem);

$background-color: black;
$background-color-light-black: rgba(0, 0, 0, 0.433);
$background-color-whitish: rgba(181, 181, 179, 0.341);
$background-color-skin: #a2a2a2;
$background-color-white: white;

$text-color-white: white;
$text-color-black: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

header {
  // y-axis , x-axis
  padding: 2rem 2rem;
  // position: relative;
  display: flex;
  justify-content: space-between;
  //   h1
  .left {
    font-size: $font-normal;
    font-family: $family-syne;
  }

  nav {
    display: none;
    a {
      color: $text-color-black;
      text-decoration: none;
      font-family: $family-syne;
      opacity: 0.7;
    }
    a::after {
      content: "";
      display: block;
      //  @include line-horizontal();
    }
    a:hover {
      font-weight: bold;
    }
  }

  nav.show {
    top: 0;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    border: 1px solid $background-color;
    background-color: $background-color-white;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 2;
  }

  .right {
    display: flex;
    gap: 0.7rem;
    .search {
      p {
        display: none;
      }
    }
    a {
      text-decoration: none;
      color: $text-color-black;
      font-size: $font-normal;
    }
    button {
      background-color: $background-color;
      color: $text-color-white;
      padding: 0 0.7rem;
      border-radius: 0.7rem;
    }
  }
}

// section1
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: red;
  gap: 1rem;
  .top {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: $font-large;
      font-family: $family-syne;
      font-weight: bold;
      br {
        @include display-none();
      }
      span {
        opacity: 0.6;
      }
    }
    p {
      font-family: $family-syne;
      opacity: 0.6;
      font-size: $font-normal;
    }
    button {
      @include display-none();
    }
  }
  .bottom {
    // background-color: red;
    width: 100%;
    // padding: 0 3rem;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      height: 100%;
      width: 150%;
    }
    .my_grid {
      display: grid;
      // background-color: green;
      width: 80%;
      aspect-ratio: 4/3;
      gap: 1rem;
      grid-template-areas:
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a c c"
        "a a c c"
        "a a c c";
      .box {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 1rem;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.7rem;
        }
      }
      .box-1 {
        grid-area: a;
      }
      .box-2 {
        grid-area: b;
      }
      .box-3 {
        grid-area: c;
      }
    }
  }
  button {
    padding: 0.8rem 2rem;
    font-size: $family-roboto-thin;
    font-size: $font-small;
    margin-top: 1.3rem;
    background-color: rgba(0, 0, 0, 0.658);
    border: none;
    border-radius: 2rem;
    color: $text-color-white;
  }
}

// section
.section3 {
  width: 100%;
  padding: 2rem 2rem;

  // img {
  //   width: 100%;
  // }
  .top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    h1 {
      font-family: $family-syne;
      margin-bottom: 1rem;
    }
    img {
      border-radius: 1rem;
    }
    p {
      font-family: $family-syne;
      opacity: 0.6;
    }
    .description {
      opacity: 0.9;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    .elem {
      display: flex;
      gap: 1.4rem;
      justify-content: center;
      width: 100%;
      // margin-top: 2rem;
      .left {
        width: 40%;
        height: 8rem;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
          border-radius: 1rem;
        }
      }
      .right {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-family: $family-syne;
        .heading {
          font-size: 1.2rem;
        }
        p {
          opacity: 0.6;
        }
        h1 {
          font-size: $font-normal;
        }
      }
    }
    .button {
      button {
        background-color: white;
        color: black;
        border-radius: 2rem;
        // width: fit-content;
        padding: 0.8rem 2rem;
      }
    }
  }
}

.section4 {
  padding: 2rem 2rem;
  font-family: $family-syne;
  .left {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    .img_text {
      display: flex;
      align-items: center;
      gap: 1.3rem;
      .left {
        width: 15%;
        img {
          margin-top: 1rem;
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .right {
        width: 40%;
      }
    }
    .rating_text {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      form {
        input {
          display: none;
        }
        label {
          // font-size: 3rem;
          cursor: pointer;
          color: $background-color-skin;
        }
        input:checked + label {
          color: gold;
        }
        label:hover {
          color: rgb(222, 222, 95);
        }
      }
      p {
        opacity: 0.6;
        margin-top: 0.2rem;
      }
    }
  }

  .my_right {
    width: 100%;
    height: 15rem;
    // background-color: red;
    display: flex;
    gap: 2rem;
    .por_left {
      width: 60%;
      height: 100%;
      // aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;

        object-fit: cover;
      }
    }
    .por_right {
      width: 40%;
      height: 100%;
      // .top{
      .video {
        width: 100%;
        height: 90%;
        video {
          width: 100%;
          height: 60%;
          // background-color: orange;
          object-fit: cover;
          border-radius: 1rem;
        }
        p {
          width: 100%;
          font-size: 0.75rem;
        }
      }
      .cls2 {
        // background-color: green;
        width: 100%;
        height: 20%;
        button {
          background-color: $background-color-white;

          color: $text-color-black;
          padding: 0.2rem 0.3rem;
          border-radius: 0.8rem;
          border: 1px solid black;
        }
      }
      // }
    }
  }
}
// section5
.section5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 2rem;
  background-color: $background-color-skin;
  font-family: $family-syne;
  h1 {
    color: $background-color-white;
  }
  form {
    input {
      padding: 0.2rem 1rem;
      border-radius: 0.8rem;
    }
    button {
      background-color: $background-color-light-black;
      color: $text-color-white;
      padding: 0.2rem 1rem;
      border-radius: 0.8rem;
    }
  }
  p {
    color: $text-color-white;
    font-size: $font-normal-small;
  }
}

  footer {
    margin-top: 2rem;
    .foot {
      .part1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        .first_one {
          display: flex;
          gap: 1rem;
          align-items: center;
          svg {
            @include svg-setting();
            width: 3rem;
          }
          h1 {
            font-size: 1.5rem;
            font-weight: 400;
            font-family: "syne";
          }
        }
        // .second_one{

        // }
      }
      .line {
        margin-top: 4rem;
        @include line-all();
      }
      .part {
        // margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        h1 {
          font-weight: 500;
          font-family: "syne";
        }
        .first1 {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          a {
            font-family: "roboto-thin";
            text-decoration: none;
            font-size: 1rem;
            color: black;
            text-transform: uppercase;
          }
          a:hover {
            color: black;
            transition: all 1s ease;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
            font: bold;
          }
        }
      }
    }
    .lasted {
      font-family: "roboto-thin";
      font-size: 1rem;
      word-spacing: 4px;
      letter-spacing: 1px;
      margin-top: 3rem;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      p {
        margin-top: 0.5rem;
        span {
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 4px;
        }
      }
      .privacy {
        word-spacing: 1.3rem;
      }
    }
    .lasted::after {
      margin-top: 2rem;
      content: "";
      @include line-all();
    }
  }

// media query
@media (min-width: 1024px) {
  header {
    margin-bottom: 1rem;
    #menu {
      display: flex;
      gap: clamp(3rem, 1.5vw, 3.2rem);
      align-items: center;
      justify-content: center;
    }
    .right {
      .search {
        background-color: $background-color-whitish;
        border: none;
        border-radius: 2rem;
        padding: 0.3rem 1rem;
        i {
          font-size: 1rem;
        }
        p {
          display: inline;
        }
      }
      button {
        font-size: $font-normal-small;
      }
      .menu-bar {
        display: none;
      }
    }
  }
  .section1 {
    flex-direction: row;
    width: 100%;
    .top {
      width: 30%;
      h1 {
        font-size: $font-larger;
      }
      button {
        display: inline;
        width: 60%;
      }
    }
    .bottom {
      width: 70%;
      .map {
        object-fit: cover;
        object-position: left;
        width: 114%;
        // display: none  ;
      }
      .my_grid {
        grid-template-areas:
          ". . b b"
          "a a b b"
          "a a b b"
          "a a b b"
          "a a b b"
          "a a c c"
          "a a c c"
          ". . c c";
      }
    }
    button {
      display: none;
    }
  }

  .section3 {
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
    // aspect-ratio: 1;]
    // height: 20rem;

    .top {
      width: 60%;

      margin: 0;
      img {
        margin-top: 1rem;
        width: 100%;
        // height: 9/9;
        // height: 100%;
        height: 21rem;
        object-fit: cover;
      }
    }
    .bottom {
      width: 40%;
      flex-direction: column-reverse;
      align-items: end;
      justify-content: start;
      gap: 9;
      margin: 0;
      .elem {
        justify-content: start;
        align-items: start;
        gap: 0;
        width: 100%;
        .left {
          width: 23%;
          aspect-ratio: 1;
          height: auto;
          img {
            width: 90%;
          }
          // img {
          //   width: 50%;
          // }
        }
        .right {
          width: 40%;
        }
      }
    }
  }

  .section4 {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4rem;
    height: 30rem;
    .left{
      height: 100%;
      width: 30%;
      .img_text{
        .left{
          img{

            margin-top: 3rem;
          }
        }
      }
    }
    .my_right{
      height: 100%;
      width: 60%;
      .por_right{
        .video{
          video{
            height: 75%;
          }
          p{
            font-size: $font-normal;
          }
        }
        .cls2{
          button{

            font-size: $font-normal-small;
            padding: 0.5rem 2rem;
          }
        }
      }
    }
  }
  .section5 {
    padding-top: 6rem;
    padding-bottom: 4rem;
    margin-top: 6rem;
    gap: 2rem;
    h1 {
      font-size: $font-larger;
      span {
        display: block;
      }
    }
    form {
      input {
        padding: 0.2rem 0rem;
        padding-right: 6rem;
        padding-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
   footer .foot {
    margin-top: 6rem;
      display: flex;
      // justify-content: space-between;
      width: 100%;
      // height: 100%;

      .part1 {
        width: 30%;
      }
      .a_line {
        width: 2px;
        background-color: black;
      }
      .real_part_2 {
        width: 60%;
        display: flex;
        justify-content: space-around;
        .line {
          display: none;
        }
      }
    }
}
